@model IEnumerable<Entities.Product>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table id="example" class="table table-striped table-bordered">
    <thead>
        <tr>
            <th>Məhsul adı</th>
            <th>Qiyməti</th>
            <th>Baxış</th>
            <th>İdentifikasiya</th>
            <th>User id</th>
            <th>Tənzimləmə</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var produc in Model)
        {
        <tr>
            <td>@produc.ProductName</td>
            <td>@produc.Price</td>
            <td>@produc.Hit</td>
            <td>
                @produc.Seller
            </td>
            <td>
                @if (produc.IsDeleted == true)
                {
                    <span class="label label-danger">Geri çevrilib</span>
                }
                else if (produc.IsActive == true)
                {
                    <span class="label label-success">Təsdiqlənib</span>
                }
                else
                {
                    <span class="label label-warning">Gözləmədə</span>
                }
            </td>

            <td><a asp-controller="products" asp-action="edit" asp-route-id="@produc.ID"><i class="fa fa-pencil-square-o" aria-hidden="true"></i> Düzəliş et</a></td>
        </tr>
        }
    </tbody>
    <tfoot>
        <tr>
            <th>Məhsul adı</th>
            <th>Qiyməti</th>
            <th>Baxış</th>
            <th>İdentifikasiya</th>
            <th>Status</th>
            <th>Tənzimləmə</th>
        </tr>
    </tfoot>
</table>

