@model Entities.Blog

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Blog</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.PostName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PostName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PostUrl)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PostUrl)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PhotoUrl)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PhotoUrl)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Hit)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Hit)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.UserID)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.UserID)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.UserName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.UserName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PostDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PostDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.MyProperty)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.MyProperty)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.IsActive)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IsActive)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.IsDeleted)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IsDeleted)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ModifiedOn)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ModifiedOn)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
