@model IEnumerable<Entities.Blog>

@{
    ViewData["Title"] = "Index";
}


<div class="container">
    <div class="row">
        <p>
            <a asp-action="Create">Create New</a>
        </p>

        <table id="example" class="table table-striped table-bordered">
            <thead>
                <tr>
                    <th>Məqalə</th>
                    <th>Yazıçı</th>
                    <th>Baxış</th>
                    <th>Status</th>
                    <th>Tarix</th>
                    <th>Tənzimləmə</th>
                </tr>
            </thead>
            <tbody>
                @{
                    string yoxla = @ViewBag.userId;
                }
                @foreach (var blog in Model.Where(x => x.UserID == yoxla))
                {
                    <tr>
                        <td>@blog.PostName</td>
                        <td>@blog.UserName</td>
                        <td>@blog.Hit</td>
                        <td>
                            @if (blog.IsDeleted == true)
                            {
                                <span class="label label-danger">Geri çevrilib</span>
                            }
                            else if (blog.IsActive == true)
                            {
                                <span class="label label-success">Təsdiqlənib</span>
                            }
                            else
                            {
                                <span class="label label-warning">Gözləmədə</span>
                            }
                        </td>
                        <td>
                            @blog.PostDate
                        </td>
                        <td><a href="admindashboard/blogs/edit/@blog.ID"><i class="fa fa-pencil-square-o" aria-hidden="true"></i> Sil</a></td>
                    </tr>
                }
            </tbody>
            <tfoot>
                <tr>
                    <th>Məqalə</th>
                    <th>Yazıçı</th>
                    <th>Baxış</th>
                    <th>Status</th>
                    <th>Tarix</th>
                    <th>Tənzimləmə</th>
                </tr>
            </tfoot>
        </table>

    </div>
</div>